<!-- The second page for Food@CWRU. This is where the 
	 CRUD and aggregate queries take place. There are
	 pre-determined tables on the side bar and then
	 there is a search option to find more customized results. -->
<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<!-- Link to the CSS used for this html page -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/spstyles.css') }}">
		<title>Food@CWRU, a platform to find Case events with food.</title>
	</head>
	<!-- The body of the web page. -->
	<body id="bodyformat">
		<!-- The first block of information containing the instructions. -->
		<div id="divformat">
			<!-- Explaining how to use the website. -->
			<h1>Food@CWRU</h1>
			<p>So here's how it works. Use the navigation menu to select
			<br>the events page you'd like to see. Preferred events is
			<br>catered to your account. The free events page contains
			<br>the free food events for the day. Go to account settings
			<br>to change your password and customize your preferences!</p>
		</div>
		<!-- Block for the navigation bar and the iframe that will contain the tables. -->
		<div class="topnav">
			<a href="{{url_for('allevents')}}" target="f1">Home</a>
			<a href="{{url_for('preferredevents', username=user)}}" target="f1">Preferred Events</a>
			<a href="{{url_for('freeevents')}}" target="f1">Free Events ({{count}})</a>
			<!-- Using CSS dropdown class to create a dropdown button. -->
			<div class="dropdown">
				<button class="dropbtn">Edit Events</button>
				<div class="dropdown-content">
					<a href="{{url_for('addevent', username=user)}}" target="f1">Add Events</a>
					<a href="{{url_for('updateevent', username=user)}}" target="f1">Update Events</a>
					<a href="{{url_for('deleteevent', username=user)}}" target="f1">Delete Events</a>
				</div>
			</div>
			<a href="{{url_for('updateuser', username=user)}}" target="f1">Account Settings</a>
			<a href="{{url_for('index')}}" target="_top">Back to Homepage</a>
			<a href="{{url_for('login')}}" target="_top">Back to Login</a>
		</div>
		<iframe src="{{url_for('allevents')}}" width="100%" height="600" style="border: none; background-color: lightblue; margin-top: 10px;" name="f1"></iframe>
	</body>
</html>